<footer class="footer">
    <div class="footer__container">
        
        <div class="footer__links">
            <ul>
                
                <li><a href="#">Faq</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="footer__social">
            <ul>
                <li><a href="#"><mat-icon>facebook-box</mat-icon></a></li>
                <li><a href="#"><mat-icon>verified</mat-icon></a></li>
                <li><a href="#"><mat-icon>alternate_email</mat-icon></a></li>
            </ul>
        </div>
    </div>
    <div class="footer__legal">
        <p>Derechos de autor © 2024 Market Comparator. Todos los derechos reservados.</p>
        <p><a href="#">Términos de uso</a> | <a href="#">Política de privacidad</a></p>
    </div>
</footer>

