<div class="contenedorGenerico">
    @if(id==''){
    @for(element of elements;track element.id){
    <div class="contenedorLista">
        <h2><a href="/category/{{element.id}}">{{element.name}}</a></h2>
        <div class="contenedorSublista">
        @for(subcat of element.subcategories;track subcat.id){
        <p><a href="/subcategory/{{subcat.id}}">{{subcat.name}}</a></p>
        }
        </div>
        <hr>
    </div>
    }
    }@else{
    @for(element of elements;track element.id){

    <div class="contenedorElemento">
        <h2><a href="/subcategory/{{element.id}}">{{element.name}}</a></h2>
        @for(product of element.products;track product.id){
            <mat-card class="example-card" (click)="goToProduct(product.id)">
                <img mat-card-image class="contenedorImagen" src="{{product.src}}">
                <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                </mat-card-header>
            </mat-card>
        }
    </div>
    }
    }

</div>