<div class="contenedorElemento">
    @if(mensaje==''){
    <h2>{{subcategory}}</h2>
    <div class="contenedorGenerico">
        @for(product of elements;track product.id){
        <mat-card class="example-card" (click)="goToProduct(product.id)">
            <img mat-card-image class="contenedorImagen" src="{{product.src}}">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>

            </mat-card-header>
        </mat-card>
        }
    </div>
    }@else {
        <h2 id="error">{{mensaje}}</h2>
    }
</div>