<div class="contenedor">
    @if(mensaje==''){
    @for(element of elements;track element.id){
    <h2>{{element.name}}</h2>

    <div class="display">
        <div class="contenedorImagen">
            <img class="contenedorImagen" src="{{element.src}}">
        </div>
        <div class="display-info">
            <h3>{{element.description}}</h3>
            <button mat-button class="button-card" routerLink="/category/{{element.category.id}}">{{element.category.name}}</button>
            <button mat-button class="button-card" routerLink="/subcategory/{{element.subcategory.id}}">{{element.subcategory.name}}</button>
        </div>
    </div>
    <table class="table">
        <tr>
            <th> Precio </th>
            <th>Supermercado </th>
        </tr>
        @for(price of element.prices;track price.id){
        <tr>
            <td>{{price.value}}€</td>
            <td>{{price.market.name}}</td>
        </tr>
        }
    </table>
    }}
    @else {
        <h2 id="error">{{mensaje}}</h2>
    }
</div>